{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}


{% block content%}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
<main>
    <div class = "align-text-center">
    <h1>{{ recipe_object.title }}</h1>
    <img src="{{ recipe_object.picture }}" alt="Vegetarian Tacos">
        <div class = "description">
            4.3 stars
            <p>{{ recipe_object.description }}</p>
        </div>

    </div>

<div class = "flex-container">
    <div class = "flex-item">
    <h2 class = "align-text-center">Ingredients</h2>
    <table class = "center">
        <th>
            <tr>
                <th>Amount</th>
                <th>Food item</th>
            </tr>
        </th>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class = "flex-item">
    <h2 class = "align-text-center">Steps</h2>
    <ol>
        <!-- recipe_object is from show_recipe function in views .all is to look at all the steps -->
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    </div>
</div>
</main>
{% endblock content %}
