{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href='{% static "css/recipes.css" %}'>
</head>
<body>
<header>
    <nav>
        <a href="list.html"  id = "nav">Main Page</a>
    </nav>
</header>
<main>
    <h1 class = "align-text-center">Scrumptious Recipes</h1>
    <h2 class = "align-text-center">All the food that's fit to eat</h2>
    <div class = "container">
    <div class = "grid-item">
        <h3><a href ="detail.html">Vegetarian Tacos</a></h3>
        <a href ="detail.html"><img src="https://mks.io/public-tacos" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
    </div>


    <div class = "grid-item">
        <h3><a href ="detail.html">Vegetarian Tacos</a></h3>
        <a href ="detail.html"><img src="https://mks.io/public-tacos" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
    </div>


    <div class = "grid-item">
        <h3><a href ="detail.html">Vegetarian Tacos</a></h3>
        <a href ="detail.html"><img src="https://mks.io/public-tacos" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
    </div>


    <div class = "grid-item">
        <h3><a href ="detail.html">Vegetarian Tacos</a></h3>
        <a href ="detail.html"><img src="https://mks.io/public-tacos" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
    </div>


    <div class = "grid-item">
        <h3><a href ="detail.html">Vegetarian Tacos</a></h3>
        <a href ="detail.html"><img src="https://mks.io/public-tacos" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
    </div>

</div>
</main>
<footer>
    Made with <span>love</span> by Scrumptious Recipes
</footer>
</body>
</html>
