{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}


{% block content%}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'create_recipe' %}" >Add Recipe</a>

    </nav>
</header>
<main>
    <h1 class = "align-text-center">Scrumptious Recipes</h1>
    <h2 class = "align-text-center">All the food that's fit to eat</h2>

    <div class = "container">
        {% for recipe in recipe_list %}
    <div class = "grid-item">

        <h3><a href ="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></h3>
        <a href ="{% url 'show_recipe' recipe.id %}"><img src="{{ recipe.picture|default:'https://placekitten.com/200/300' }}" alt="Vegetarian Tacos"></a>
        <div class = "rating">4.3 stars</div>
        <p id="smallp">Date added: {{ recipe.created_on|date:"F j, Y"}}</p>
    </div>

        {% empty %}
            <p>Your recipe list is empty. Please add one now.</p>
        {% endfor %}
</div>
</main>
{% endblock content %}
